body {
	font-family: 'Chelsea Market', cursive;
}

.bg-primary {
	background: #03a9f4 !important;
}

h1 {
	font-size: 3rem !important;
}

.artwork {
	margin: 0 auto;
	text-align: center;
	padding: 0.6em 0;
}

.facebook,
.artwork,
.behance,
.instagram,
.home {
	background: none;
	border: 1px solid white;
}

.facebook:hover {
	background: #1a56d2;
	transition: background 0.5s;
}

.artwork:hover,
.home:hover {
	background: #dd0b0b;
	transition: background 0.5s;
}

.behance:hover {
	background: #0057ff;
	transition: background 0.5s;
}

.instagram:hover {
	background: #b027cd;
	transition: background 0.5s;
}

.carousel-item {
	max-height: 800px;
}

.carousel-item img {
	max-height: 800px;
	object-fit: contain;
}

.carousel-inner > .item {
	height: 800px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
	display: block;
}

@media (max-width: 576px) {
	#logo {
		width: 10em !important;
	}

	h1 {
		font-size: 2rem !important;
	}

	h6 {
		font-size: 0.8rem !important;
	}

	.artwork {
		padding: 0.4em;
	}

	.facebook,
	.behance,
	.instagram,
	.home {
		margin-right: 0 !important;
		margin-bottom: 0.5em;
		padding: auto;
	}

	.home {
		display: block;
	}
}
